@font-face {
  font-family: "iconfont"; /* Project id 3977822 */
  src: url('iconfont.woff2?t=1686329476347') format('woff2'),
       url('iconfont.woff?t=1686329476347') format('woff'),
       url('iconfont.ttf?t=1686329476347') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sun:before {
  content: "\e602";
}

.icon-sun1:before {
  content: "\e7ad";
}

.icon-github:before {
  content: "\e628";
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-Mail-:before {
  content: "\e625";
}

.icon-close:before {
  content: "\e601";
}

.icon-Attache-Mail1:before {
  content: "\eaf3";
}

.icon-mail:before {
  content: "\e692";
}

.icon-link:before {
  content: "\e656";
}

.icon-cc-top:before {
  content: "\e6a9";
}

.icon-link1:before {
  content: "\e6bc";
}

.icon-link2:before {
  content: "\e7f0";
}

.icon-moon:before {
  content: "\e6c3";
}

.icon-clips-logo1:before {
  content: "\e621";
}

.icon-clips-logo4:before {
  content: "\e7e9";
}

.icon-clips-logo:before {
  content: "\e762";
}

.icon-clips-logo5:before {
  content: "\e67e";
}

.icon-clips-logo6:before {
  content: "\e6ef";
}

.icon-clips-logo7:before {
  content: "\e6f0";
}

.icon-clips-logo8:before {
  content: "\e9c5";
}

